<!doctype html>
<html lang="en">
  <meta charset=utf8>
  <meta http-equiv="X-UA-Compatible" value="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Lest Gern</title>
  <link rel="manifest" href="manifest.webmanifest">
  <link rel="icon" href="icons/icon-256.png" sizes="256x256" />
  <link rel="icon" href="icons/icon-128.png" sizes="128x128" />
  <link rel="icon" href="icons/icon-64.png" sizes="64x64" />
  <link rel="icon" href="icons/icon-32.png" sizes="32x32" />
  <link rel="icon" href="icons/icon-16.png" sizes="16x16" />
  <link href=main.css rel=stylesheet>
  <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>

  <div id="app">
    <transition name="slide-down">
      <help-view
        v-if="helpDisplayed"
        v-on:close-help="closeHelp"
        ></help-view>
    </transition>
    <div class="Grid">
      <div class="Grid-cell-2 Column">
        <keyboard-events v-on:keydown="handleKey"></keyboard-events>
        <div class="stats Column-cell">
          <small>Unique words: {{countWordsInText.unique}}</small>
          <small>Unknown words: {{countWordsInText.unknown}}</small>
          <small>Proportion known: {{countWordsInText.percentage}}%</small>
        </div>
        <textarea
          class="content-input Column-cell"
          placeholder="paste content here"
          v-model="content"
          ></textarea>
        <div
          class="content-interactive Column-cell-fill"
          v-on:click="handleLexemeClick"
        >
          <!-- this things we have to do for performance -->
          <span v-for="row in groupedLexemesWithSelection">
            <lexeme-row
              v-bind:row="row"
              v-bind:is-word="isWord"
              v-bind:is-punc="isPunc"
              v-bind:is-newline="isNewline"
              ></lexeme-row>
          </span>
        </div>
      </div>
      <div class="Grid-cell">
        <div class="top-right-row">
          <small>Words in word bank: {{wordCount}}</small>
          <small>
            <a href="#" v-on:click="showHelp">Help</a>
          </small>
          <small>
            <span v-if="auth.dropbox.state === 'success'"
              >yu in</span>
            <span v-else-if="auth.dropbox.state === 'pending'"
              >workin' on it</span>
            <span v-else-if="auth.dropbox.state === 'failed'"
              >went wrong</span>
            <a href="#"
              v-else
              v-on:click="loginAtDropbox"
               alt="Authenticate with Dropbox to backup your progress there."
              >Auth Dropbox</a>
          </small>
          <small class="lang-selection">
            <button
              v-for="langCode in ['de', 'nl', 'pl']"
              class="lang"
              v-bind:class="{'lang--selected': selectedLanguage == langCode}"
              v-on:click="selectLanguage(langCode)"
              >{{langCode}}</button>
          </small>
        </div>
        <div v-if="!selectedWord">
          <h3>Select a word</h3>
        </div>
        <entry-editor
          v-if="selectedWord"
          v-bind:word="selectedWord"
          v-bind:word-bank="wordBank"
          v-bind:familiarity="familiarity(selectedWord)"
          v-bind:language="languages[selectedLanguage]"
          v-on:add-tag="addTag(selectedWord, $event)"
          v-on:delete-tag="deleteTag(selectedWord, $event)"
          v-on:save-hint="saveHint(selectedWord, $event)"
          v-on:set-familiarity="setFamiliarity(selectedWord, $event)"
          v-on:set-favourite-dict="setFavouriteDict($event)"
          ref="editor"
          ></entry-editor>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</html>
