<!doctype html>
<html lang="en">
  <meta charset=utf8>
  <meta http-equiv="X-UA-Compatible" value="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Lest Gern</title>
  <link rel="manifest" href="manifest.webmanifest">
  <link rel="icon" href="icons/icon-256.png" sizes="256x256" />
  <link rel="icon" href="icons/icon-128.png" sizes="128x128" />
  <link rel="icon" href="icons/icon-64.png" sizes="64x64" />
  <link rel="icon" href="icons/icon-32.png" sizes="32x32" />
  <link rel="icon" href="icons/icon-16.png" sizes="16x16" />
  <link href=main.css rel=stylesheet>
  <script src="https://unpkg.com/vue"></script>

  <div id="app" class="Grid">
    <div class="Grid-cell-2 Column">
      <keyboard-events v-on:keydown="handleKey"></keyboard-events>
      <div class="stats Column-cell">
        <small>Unique words: {{countWordsInText.unique}}</small>
        <small>Unknown words: {{countWordsInText.unknown}}</small>
        <small>Proportion known: {{countWordsInText.percentage}}%</small>
      </div>
      <textarea class="content-input Column-cell"
                placeholder="paste content here"
                v-model="content"></textarea>

      <div class="content-interactive Column-cell-fill">
        <!-- TODO: try change to template -->
        <!-- TODO: see if we can calculate the class name
          v-bind:class="['tab-button', { active: currentTab === tab }]"
        -->
        <!-- TODO: see if we can replace v-if with v-bind:is and 3
          different component types -->
        <span v-for="(lexeme, index) in lexemes">
          <span v-if="isWord(lexeme)"
                v-bind:class="{
                               'known-word-0': familiarity(lexeme.word)==0,
                               'known-word-1': familiarity(lexeme.word)==1,
                               'known-word-2': familiarity(lexeme.word)==2,
                               'known-word-3': familiarity(lexeme.word)==3,
                               'known-word-4': familiarity(lexeme.word)>3,
                               'selected-word': index==selectedLexemeIdx,
                               'new-word': isNew(lexeme)}"
                v-on:click="selectWord(index)"
                class="word"
                >{{ lexeme.word }}</span><span v-if="isPunc(lexeme)" class="punc"
                >{{ lexeme.word }}</span><br v-if="isNewline(lexeme)" class="newline"/>
        </span>
      </div>
    </div>
    <div class="Grid-cell">
      <div class="top-right-row">
        <small>Words in word bank: {{wordCount}}</small>
        <small class="lang-selection">
          <button v-for="langCode in ['de', 'nl']"
                  class="lang"
                  v-bind:class="{'sel': selectedLanguage == langCode}"
                  v-on:click="selectLanguage(langCode)"
            >{{langCode}}</button>
        </small>
      </div>
      <div v-if="!selectedWord">
        <h3>Select a word</h3>
      </div>
      <entry-editor
        v-if="selectedWord"
        v-bind:word="selectedWord"
        v-bind:word-bank="wordBank"
        v-bind:familiarity="familiarity(selectedWord)"
        v-bind:language="languages[selectedLanguage]"
        v-on:add-tag="addTag(selectedWord, $event)"
        v-on:delete-tag="deleteTag(selectedWord, $event)"
        v-on:save-hint="saveHint(selectedWord, $event)"
        v-on:set-familiarity="setFamiliarity(selectedWord, $event)"
        ></entry-editor>
    </div>
  </div>
  <script src="main.js"></script>
</html>
