<!doctype html>
<html lang="en">
  <meta charset=utf8>
  <meta http-equiv="X-UA-Compatible" value="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Lest Gern</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link href=main.css rel=stylesheet>
  <script src="https://unpkg.com/vue"></script>

  <div id="app" class="Grid">
    <div class="Grid-cell-2 Column">
      <keyboard-events v-on:keydown="handleKey"></keyboard-events>
      <div class="stats Column-cell">
        <small>Unique words: {{countWordsInText.unique}}</small>
        <small>Unknown words: {{countWordsInText.unknown}}</small>
        <small>Proportion known: {{countWordsInText.percentage}}%</small>
      </div>
      <textarea class="content-input Column-cell"
                placeholder="paste content here"
                v-model="content"></textarea>

      <div class="content-interactive Column-cell-fill">
        <span v-for="(lexeme, index) in lexemes">
          <span v-if="isWord(lexeme)"
                v-bind:class="{
                               'known-word-0': familiarity(lexeme.word)==0,
                               'known-word-1': familiarity(lexeme.word)==1,
                               'known-word-2': familiarity(lexeme.word)==2,
                               'known-word-3': familiarity(lexeme.word)==3,
                               'known-word-4': familiarity(lexeme.word)>3,
                               'selected-word': index==selectedLexemeIdx,
                               'new-word': isNew(lexeme)}"
                v-on:click="selectWord(index)"
                class="word"
                >{{ lexeme.word }}</span><span v-if="isPunc(lexeme)" class="punc"
                >{{ lexeme.word }}</span><br v-if="isNewline(lexeme)" class="newline"/>
        </span>
      </div>
    </div>
    <div class="Grid-cell">
      <small>Count of words in word bank: {{wordCount}}</small>
      <div v-if="!selectedWord">
        <h3>Select a word</h3>
      </div>
      <div v-if="selectedWord">
        <h3>{{ selectedWord }}</h3>
        <input type="text" id="hint" class="hint" placeholder="hint"
          v-model="hint" v-on:keydown.esc="blurHint"
          v-on:keydown.enter="blurHint" />
        <ul>
          <li v-for="tag in tags">
            {{ tag }}
            <button v-on:click="deleteTag(tag)">x</button>
          </li>
          <li>
            <input type="text" placeholder="new tag" v-model="newTag"/>
            <button v-on:click="addTag()">Add</button>
          </li>
        </ul>
        <div>
          <button v-for="i in [0,1,2,3,4]"
                  class="fam"
                  v-bind:class="{'sel': familiarity(selectedWord)==i}"
                  v-on:click="setFamiliarity(i)"
                  >{{ i }}</button>
        </div>
        <p>
          <a target="_"
            v-bind:href="'https://en.wiktionary.org/wiki/' + selectedWord + '#German'">
            EN Wiktionary: {{selectedWord}}
          </a>
        </p>
        <p>
          <a target="_"
            v-bind:href="'https://translate.google.com/#view=home&op=translate&sl=de&tl=en&text=' + selectedWord">
            Google Translate: {{selectedWord}}
          </a>
        </p>
        <p>
          <a target="_"
            v-bind:href="'https://www.google.com/search?q=' + selectedWord + '&tbm=isch'">
            Image Search: {{selectedWord}}
          </a>
        </p>
        <p>
          <a target="_"
            v-bind:href="'https://www.deepl.com/en/translator#de/en/' + selectedWord">
            DeepL: {{selectedWord}}
          </a>
        </p>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</html>
