.Grid {
  display: flex;
  /* full-height */
  align-items: stretch;
  height: 100vh;
}
.Grid-cell {
  flex: 1;
  padding: 8px;
}
.Grid-cell-2 {
  flex: 2;
  padding: 8px;
}

.Column {
  display: flex;
  flex-direction: column;
}
.Column-cell {
  flex: 0 0 auto;
}
.Column-cell-fill {
  flex: 1;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.content-input {
  width: 90%;
  height: 5em;
}
.content-interactive {
  overflow: scroll;
  color: #636363; /* gray */
}
.top-right-row {
  display: flex;
  justify-content: space-between;
}

.word {
  cursor: pointer;
}
.new-word {
  background: #d7e8ff;
}
.known-word-0 {
  background: yellow;
}
.known-word-1 {
  background: #ffff3f;
}
.known-word-2 {
  background: #ffff7f;
}
.known-word-3 {
  background: #ffffaf;
}
.known-word-4 {
  background: #ffffff;
}
.selected-word {
  color: black;
}

input.hint {
  width: 90%;
}

button.fam {
  cursor: pointer;
  background: #ffffaf;
}
button.fam.sel {
  background: yellow;
}
button.lang {
  cursor: pointer;
  background: grey;
}
button.lang.sel {
  background: white;
}
